<html lang="it">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="assets/css/vendor.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="assets/css/baseComponents.css">

        <title>Hello, world!</title>
    </head>
    <body>
    <main>
        {% include "components/test_component.njk" %}

        <my-element></my-element>
    </main>
      <script src="assets/js/vendor.js"></script>
      <script src="assets/js/main.js"></script>
      <script src="assets/js/baseComponents.js"></script>
  </body>
</html>
